In [1]:
import pandas as pd

In [15]:
df=pd.read_excel("Company_Data.xlsx",sheet_name="Add23-24",header=[2])
df

C:\Users\vvc14\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\vvc14\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\vvc14\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Sl.No.,Construction Equipment,Location of the Asset,Invoice No,Date of Invoice,Tally Date,Name of the Supplier,Put into use,Gross Inv Value,...,TCS,GST,Capital Cost,No of Days,use full life/years,Bal years/days,Depreciation,NET Block as at 30/09/2023,before 30/09/23,After 01/10/23
0,NaN,Construction Equipment,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1,Vibrator,Brahmani Bridge,KSS-4482,2024-01-12,2024-01-12 00:00:00,Kasi Sales & Services Pvt. Ltd.,2024-01-12 00:00:00,150510,...,NaN,22959.11,127550.89,79,3,2.783562,9202,118348.89,0,127550.89
2,NaN,2,Vibrator,Brahmani Bridge,KSS-4483,2024-01-12,2024-01-12 00:00:00,Kasi Sales & Services Pvt. Ltd.,2024-01-12 00:00:00,150510,...,NaN,22959.11,127550.89,79,3,2.783562,9202,118348.89,0,127550.89
3,NaN,3,Welding Machine,Brahmani Bridge,SKM/23-24/3929,2024-02-10,2024-02-10 00:00:00,Shreekrishna Machinery,2024-02-10 00:00:00,108560,...,NaN,16560,92000,50,9,8.863014,1400,90600,0,92000
4,NaN,4,Boom Pump,Brahmani Bridge,833074832,2023-09-30,2023-10-30 00:00:00,Schwing Stetter (India) Pvt. Ltd.,2023-10-30 00:00:00,10620000,...,0,1620000,9000000,153,9,8.580822,419178,8580822,0,9000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,-82625268.7,...,5.94678,-0.14339,0,1.854237,0.47678,0,-82625259.565593,,NaN,NaN
576,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,,-69486388.7,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
577,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df1=df.pivot_table(index="Location of the Asset",aggfunc={
    'Capital Cost':'sum',
    'Depreciation':'sum'
})
df1

                           Capital Cost     Depreciation
Location of the Asset
Brahmani  HL Bridge              820550             4623
Brahmani Bridge              32314107.9   2283388.870384
ECR                      5317003.849492    452012.393438
FOB-TS                         491675.3     78655.439269
Foxconn                     22738746.66   1366646.098404
Hadua                   67981519.248814   5116190.824498
Head Office                 26124487.92   1728413.768056
KDP-IV                 109903128.611356  10797046.343429
KDP-V                        3877192.33    585396.119671
Kaiga                           6102541           678060
Lower Tapi                    462237.28      4998.531163
MRPL Terminal Project             88235     15256.353425
Manufacturing Unit           8526156.04   1168415.792824
Pedasankarlapudi                 545904     32443.782014
Polavaram                         55590      5700.640274
RVNL-BBS-SLT                     395121     23388.047137
Raipur-Visakhapatnam    49436857.131864   6101471.691673
Sadarmat Barrage                  72000      7570.849315
Salandi Barrage              4614267.35    477114.558777
Sitamma Sagar                   1985058     83445.759041
Sulwade                472572611.812881  54981896.605018
Uppar Tapi                      1000000            50533
Vynatheya                         23438      3989.597096
YTPS                              30400             1027
YTTP Terminal                    268519     15847.573699

In [33]:
df2=df1['YTPS'][0]
df2

KeyError: 'YTPS'